.GridLex-col-3_sm-4_xs-12.mb-30
  .package-grid-item
    %a{:href => "detail-page.html"}
      .image
        %img{:alt => "Tour Package", :src => "/assets/books/book1.png"}/
        .absolute-in-image
          .duration
            %span デザイン
      .content.clearfix
        %h5 ランディングページメソッド・デザインメソッド
        .rating-wrapper
          .raty-wrapper
            .star-rating-read-only{"data-rating-score" => "4.0"}
            %span / 7 review
        .absolute-in-content
          %span.btn
            %i.fa.fa-heart-o
          .price $1422
